<trichotomy direction="vertical">

    <trichotomy-bar class="something">Header</trichotomy-bar>

    <trichotomy-centerpiece>

        <trichotomy direction="horizontal">

            <trichotomy-bar>
                <trichotomy direction="vertical">
                    <trichotomy-bar>Sidebar Header</trichotomy-bar>
                    <trichotomy-centerpiece>Center</trichotomy-centerpiece>
                    <trichotomy-bar>Footer</trichotomy-bar>
                </trichotomy>
            </trichotomy-bar>

            <trichotomy-centerpiece>Main Center</trichotomy-centerpiece>

            <trichotomy-bar right={true}>
                <trichotomy direction="vertical">
                    <trichotomy-bar>Sidebar Header</trichotomy-bar>
                    <trichotomy-centerpiece>Center</trichotomy-centerpiece>
                    <trichotomy-bar>Footer</trichotomy-bar>
                </trichotomy>
            </trichotomy-bar>

        </trichotomy>

    </trichotomy-centerpiece>

    <trichotomy-bar>Footer</trichotomy-bar>

</trichotomy>
